@charset "UTF-8";
/* CSS Document */
@font-face {
   font-family: 'Oak';
      src: url('../fonts/Oak-Bold.eot');
      src: url('../fonts/Oak-Bold.eot?#iefix') format('embedded-opentype'),
           url('../fonts/Oak-Bold.woff') format('woff'),
           url('../fonts/Oak-Bold.ttf') format('truetype'),
           url('../fonts/Oak-Bold.svg') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Ancillary';
      src: url('../fonts/ancillary.eot');
      src: url('../fonts/ancillary.eot?#iefix') format('embedded-opentype'),
           url('../fonts/ancillary.woff') format('woff'),
           url('../fonts/ancillary.ttf') format('truetype'),
           url('../fonts/ancillary.svg') format('svg');
   font-weight: normal;
   font-style: normal;
}

html, body {
	background-color:#17181a; /* 161e29*/ /*15212f*/ /*171b20*/ /*17181a*/
	margin:0;
	height:100%;
		position:relative;
	background-size: 1280px 800px;
    background-repeat: no-repeat;

}
.container a{
	color: #fff;
	text-decoration:none !important;
}
ul {
	list-style: none;
	padding:0;
}
strong {
	text-decoration:underline;
}

p{
	color:#fff;
	line-height:2;
	font-size:15px;
	font-family:"Oak";
	line-height:3.5;
}

p a {
	color:#fff;
}

h1 a{
	font-size:20px;
	font-family:"Oak";
	color:#fff;
	margin-left:auto;
	margin-right:auto;
	width:550px;
	letter-spacing:3px;
	text-decoration: none;
	position: relative;
}
h1 > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  margin-top:3px;
  background-color: #3c4e63;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  margin-top:46px;
}

h1> a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

h2 {
	font-family:"Oak";
	font-size:24px;
	color:#fff;
	letter-spacing:7px;
	margin-left:auto;
	margin-right:auto;
}

h3 {
	font-family:"Oak";
	font-size:18px;
	color:#fff;
}



#main {
	width:100%;
	height:110%;
  position: absolute;
  z-index:1;
}

#mainWrapper {
	width:100%;
	height:110%;
	border-bottom: 1px solid #212326;

}

#mobilepage {
	width:100%;
	position:relative;
	background-color:#17181a;
}

#team {
	width:100%;
	min-height:100%;
	position:relative;
	background-color:#17181a;
}

#overlay {
	width:100%;
	height:110%;
	position:absolute;
	z-index:100;	
	
	
}

.container{
	width:700px;
	z-index:10;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
	position:relative !important;
	  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
	
}

#mainMenu {
	margin-left:auto;
	margin-right:auto;
	width:345px;
	margin-bottom:40px;
	
}

#mainMenu li {
	font-size:15px;
	font-family:"Oak";
	color:#fff;
	letter-spacing:5px;
	display: inline;
	text-decoration: none;
	margin-right:10px;
	margin-left:10px;
	
}

#mainMenu li:first-child {
	margin-right:20px;
	margin-left:0px;
}
#mainMenu li:last-child {
	margin-right:0px;
	margin-left:20px;
}


#mainMenu li > a {
  position: relative;
  text-decoration: none;
  color:#fff;
}


#mainMenu li > a:before {
   content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  background-color: #3c4e63;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
    margin-top:39px;

}

#mainMenu li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}




#uklogo{
	margin-top:35px;
	width:242px;
	height:36px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:60px;
	position:relative;

}

canvas {
  display: block;
  vertical-align: bottom;
}

#header{
	width:239px;
	height:44px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:60px;	
		padding-right:25px;

	
}

#teamContainer{
	
	width:750px;
	margin-right:auto;
	margin-left:auto;
}

::selection {
  background: #888888; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #888888; /* Gecko Browsers */
}

footer{
	font-size:12px;
	text-align:center;
	color:#F0F0F0;
	bottom:30px;
	font-family:"Ancillary";
}

@-webkit-keyframes moveToTop {
	from { }
	to { -webkit-transform: translateY(-325px); }
}

@keyframes moveToTop {
	from { }
	to { -webkit-transform: translateY(-325px); transform: translateY(-325px); }
}

.pt-page-moveToBottom {
	-webkit-animation: moveToBottom 1.0s ease both;
	animation: moveToBottom 1.0s ease both;
}

@-webkit-keyframes moveToBottom {
	from { margin-top:-325px;}
	to { margin-top:0;}
}

@keyframes moveToBottom {
	from { margin-top:-325px;}
	to { margin-top:0; }
}

.pt-page-moveToTop {
	-webkit-animation: moveToTop 1.0s ease both;
	animation: moveToTop 1.0s ease both;
}

/*         h1 cycle     */

content {
  width:237px;
  font-family:'Oak';
  color:#ecf0f1;
  height:66px;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-15px;
  margin-left:-118px;
  
 
}

.visible {
  float:left;
  overflow:hidden;
  height:80px;   
}



#headerCycle li {
  line-height:40px;
  margin:0;
}

.cycleAnimation {
  margin-top:0;
  text-align:left;
  list-style:none;
  animation:.5s linear 0s normal forwards up;
  -webkit-animation:.5s linear 0s normal forwards up;
  -moz-animation:.5s linear 0s normal forwards up;
  -o-animation:.5s linear 0s normal forwards up;
}

.cycleAnimationDown {
  margin-top:0;
  text-align:left;
  list-style:none;
  animation:.5s linear 0s normal forwards down;
  -webkit-animation:.5s linear 0s normal forwards down;
  -moz-animation:.5s linear 0s normal forwards down;
  -o-animation:.5s linear 0s normal forwards down;
}

@-webkit-keyframes up {
  0%   {margin-top:0;}
  100%  {margin-top:-72px;}
}
@keyframes up {
  0%   {margin-top:0;}
  100%  {margin-top:-72px;}
}


@-webkit-keyframes down {
  0%   {margin-top:-72px;}
  100%  {margin-top:0px;}
}
@keyframes down {
  0%   {margin-top:-72px;}
  100%  {margin-top:0px;}
}


/*                      */


/*        forms            */


input, textarea {
    width: 100%;
    background: none;
    outline: none;
    border: 0;
    color: #FFF;
    margin-bottom: 2.8rem;
	/*margin-bottom:5px;*/
    line-height: 2;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1px;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -transition: all 0.6s ease;
    transition: all 0.6s ease;
    resize: none;
    border-radius: 0;
	font-family:"Ancillary";
	font-style:italic;
	font-size:14px;
	
}

input {
    border-bottom: 1px solid #FFF;
    font-weight: 300;
}


textarea{
	 border: 1px solid #FFF;

}

 .button {
  background-color:#17181a;
  cursor: pointer;
    -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  color:#fff;
  margin-left:15px;
  border: 1px solid #FFF;
  font-family:"Oak";
  font-style:normal;
  margin-left:auto;
  margin-right:auto;
  position:relative;
}
#team .button {
  width:200px;
  height:70px;  
  line-height:68px;
}

.container .button {
  width:150px;
  height:50px;  
  line-height:50px;
}


.button:hover{
  color:#17181a;
  background-color:#fff;
}
/*                          */


#uklogo a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 200;
    background-color: #FFF;
    opacity: 0;
    filter: alpha(opacity=1);
}


input:focus { 
	font-style:normal;
}
textarea:focus { 
	font-style:normal;
}

h4 {
	color:#fff;
	line-height:2;
	font-size:14px;
	font-family:"Oak";
	line-height:3.5;
	letter-spacing:3px;
	border-bottom: 1px solid #3c4e63;
	padding-bottom: 20px;
	display:inline;
}

h5 {
	color:#fff;
	line-height:2;
	font-size:12px;
	font-family:"Oak";
	line-height:3.5;
	letter-spacing:3px;
}


h6 {
	color:#3c4e63;
	line-height:2;
	font-size:12px;
	font-family:"Oak";	
	
}
.teamBox {
	width:250px;	
	height:150px;
	float:left;
	text-align:center;
	display:inline-block;
	margin-top:40px;

}

#mazin {
	width:333px;	
	
	
}

#mobileMailingHeader{
	display:none;	
	
}

@media (min-width: 751px) {
	#container{
		height:380px;
	}

}

@media (max-width: 750px) {
	#overlay{
		min-height:100% !important;	
	}
	#main{
		min-height:100% !important;	
	}
	#mainWrapper{
		min-height:100% !important;	
	}
	.container{
		width:60%;	
	}
	.teamBox {
		float:none;
		margin-left:auto;
		margin-right:auto;	
	}
	#teamContainer {
		width:250px;
	}
	#mazin {
		width:250px;	
		text-align:center;	

	}
	.container{
		overflow:visible;		
	}
	
	#firstP{
	}
	#mobilepage{
		display:inline-block;
		
	}
	#mainWrapper {
		border:none;
	}	
	.visible {
		display:none;	
	}
	#mobileMailingHeader{
		display:block;	
	}
	
	#teamContainer {
		border-top: 1px solid #212326;
		
	}
	h2 {
		margin-top:50px;
	}
}

@media (max-width: 400px) {
	#overlay{
		min-height:100% !important;	
	}
	#main{
		min-height:100% !important;	
	}
	#mainWrapper{
		min-height:100% !important;	
	}
	.container{
		width:60%;	
	}
	.teamBox {
		float:none;
		margin-left:auto;
		margin-right:auto;	
	}
	#teamContainer {
		width:250px;
	}
	p {
		font-size:14px;	
	}
	#mainMenu li{
		font-size:12px;	
	}
	#mainMenu {
		width:270px;
		padding:10px;
		
	}
	#header{
		width:230px;	
		padding-right:0px;

	}
	#mainMenu li{
		margin-left:0;
		margin-right:0;
	}
	
	

}
